<form action="/favorites" method="POST">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <h1>Edit Favorites Rides:<h1>
    <h3>Rides:</h3>
    <% @locations.each do |location|%>
    <h3><li><%=location%></li></h3>
    <% rides = Helpers.rides_by_land(location)%>
    <% rides.each do |ride|%>
    <input type="checkbox" name="rides[]" value="<%= ride.id %>"
        <%@favorites.each do |favorite|%>
            <%= 'checked' if ride.id == favorite.ride_id %>      
        <%end%>>
    <%= ride.name %></input></label><br>
    <%end%>
    <%end%>  
    <br>
    <input type="submit" value="Update Favorites">

    </form>
