<h1>Select your favorites rides:</h1> 

<form action="/favorites" method="post">
<% @locations.each do |location|%>
<h3><li><%=location.name%></li></h3>
<% rides =  location.rides  %>
<% rides.each do |ride| %>
<input type="checkbox" name="rides[]" value="<%= ride.id %>"><%= ride.name %></input></label><br>
<%end%>
<%end%>

<input type="submit" value="Create Your Favorites">

</form>



