<h1><%= "#{@ride.name} New Review" %></h1>
<form action="/reviews/<%=@ride.slug%>/" method="post">
<h3>Title:<input type="text" name="title"></h3><br>
<h3><label>Review:</label></h3>
<textarea name="content" rows="15" cols="50"></textarea>
<p><input type="submit" name="submit" value="Submit Review"></p>
</form>
