
<h1>Disneyland Rides & Reviews</h1>
<img src="/images/dumbo.jpg" alt="ride" style="width:950px;height:500px;margin-bottom: 20px;margin-top: 20px">

<p><a href="/signup">Sign Up</a> or <a href="/login">Log In</a> to continue.</p>