<h1>Select a ride:</h1> 
<% @locations.each do |location|%>
<h3><li><%=location.name%></li></h3>
<% rides =  location.rides  %>
<% rides.each do |ride| %>
<li><a href= "/rides/<%=ride.slug%>"><%= ride.name%></a></li> <!-- add the slug method to the |ride| -->
<% end %>
<% end %>
<p></p>
<p><a href="/">Back to homepage </a></p>
